<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="title" content="">
    <meta name="descript" content="">
    <meta name="keywards" content="">
    <title>MainPageOld</title>
    <!--link rel="stylesheet" href="style.css"-->
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="#">main</a></li>
            <li>
                <a href="#">learning</a>
                <ul>
                    <li><a href="#">lessons</a></li>
                    <li><a href="#">daily shorts</a></li>
                    <li><a href="#">grammar practice</a></li>
                    <li><a href="#">test</a></li>
                    <li><a href="#">translations</a></li>
                    <li><a href="#">reading</a></li>
                    <li><a href="#">listening</a></li>
                </ul>
            </li>
            <li>
                <a href="#">news</a>
                <ul>
                    <li><a href="#">about me</a></li>
                    <li><a href="#">BBC</a></li>
                    <li><a href="#">Al-Jazeera</a></li>
                    <li><a href="#">about our school</a></li>
                </ul>
            </li>
            <li>
                <a href="#">contacts / feedback</a>
                <ul>
                    <li><a href="#">VK</a></li>
                    <li><a href="#">telegram</a></li>
                    <li><a href="#">What's App</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">X</a></li>
                </ul>
            </li>
            <li>
                <a href="#">webinars</a>
                <ul>
                    <li><a href="#">OGE</a></li>
                    <li><a href="#">EGE</a></li>
                    <li><a href="#">speaking club</a></li>
                </ul>
            </li>
            <li>
                <a href="#">competitions</a>
                <ul>
                    <li><a href="#">duels</a></li>
                    <li><a href="#">tournaments</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<main>
    <!-- Основная часть сайта -->
</main>

<footer>
    <!-- Footer -->
</footer>

</body>
</html>