<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="">
    <meta name="descript" content="">
    <meta name="keywards" content="">
    <title>MainPage</title>
    <style>
        .autonewline-input {
            width: 430px;
            height: auto;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    </style>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/NataSchoolTransponent.png" type="image/x-icon">
</head>
<body>

<header align="center" >
    <div>
        <img src="../static/img/NataSchoolTransponent.png">
        <nav align="center">
            <menu align="center">
            <ul>
                <li style="margin-right: 70px;">
                    <a href="#">Main</a></li>
                <!--li><a href="#">learning</a></li-->
                <div class="dropdown" style="margin-right: 70px;">
                    <button class="dropbtn">Learning</button>
                    <div class="dropdown-content">
                        <a href="#">Lessons</a>
                        <a href="#">Daily shorts</a>
                        <a href="#">Grammar practice</a>
                        <a href="#">Tests</a>
                        <a href="#">Translations</a>
                        <a href="#">Reading</a>
                        <a href="#">Listening</a>
                    </div>
                </div>

                <!--li><a href="#">news</a></li-->
                <div class="dropdown" style="margin-right: 70px;">
                    <button class="dropbtn">News</button>
                    <div class="dropdown-content">
                        <a href="#">BBC</a>
                        <a href="#">Al-Jazeera</a>
                        <a href="#">NataSchool</a>
                    </div>
                </div>

                <!--li><a href="#">contacts</a></li-->
                <div class="dropdown" style="margin-right: 70px;">
                    <button class="dropbtn">Contacts</button>
                    <div class="dropdown-content">
                        <a href="#">VK</a>
                        <a href="#">Telegram</a>
                        <a href="#">What's App</a>
                        <a href="#">YouTube</a>
                        <a href="#">Mail</a>
                    </div>
                </div>

                <!--li><a href="#">webinars</a></li-->
                <div class="dropdown" style="margin-right: 70px;">
                    <button class="dropbtn">Webinars</button>
                    <div class="dropdown-content">
                        <a href="#">GSE</a> <!--General State Exam-->
                        <a href="#">USE</a> <!--Unified State Exam-->
                        <a href="#">IELTS</a>
                        <a href="#">TOEFL</a>
                        <a href="#">PTE</a>
                        <!--https://habr.com/ru/companies/englishdom/articles/526778/-->

                    </div>
                </div>

                <!--li><a href="#">competitions</a></li-->
                <div class="dropdown" style="margin-right: 60px";>
                    <button class="dropbtn">Сompetitions</button>
                    <div class="dropdown-content">
                        <a href="#">   Duels</a>
                        <a href="#">   Tournaments</a>
                    </div>
                </div>

                <li style="margin-right: -50px;">
                    <a href="#">info</a></li>
            </ul>
            </menu>
        </nav>
        <!--img src="../static/img/NataSchoolTransponent.png"-->
        <!--img src="../static/img/NataSchoolTransponent.png"-->
        <img src="../static/img/ns_fon_05.png">
    </div>
</header>

<main>
    <!-- Основная часть сайта. -->
</main>

<footer>
    <footer>
        <div class="container">
            <div class="contact-info">
                <p>**Контакты**</p>
                <ul>
                    <li>Телефон: +7 (495) 123-45-67</li>
                    <li>Email: info@example.com</li>
                    <li>Адрес: г. Москва, ул. Пушкина, д. 12</li>
                </ul>
                <div class="social-networks">
                    <a href="#" class="vk"><i class="fab fa-vk"></i> ВКонтакте</a>
                    <a href="#" class="telegram"><i class="fab fa-telegram-plane"></i> Телеграм</a>
                    <a href="#" class="whatsapp"><i class="fab fa-whatsapp"></i> +7 (987) 654-32-10</a>
                    <a href="#" class="youtube"><i class="fab fa-youtube"></i> YouTube</a>
                </div>
            </div>
            <div class="feedback">
                <p>**Обратная связь**</p>
                <form action="#">
                    <input type="text" placeholder="Имя" name="name" required>
                    <input type="text" placeholder="Фамилия" name="surname" required>
                    <input type="tel" placeholder="Телефон" name="phone" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <input type="text" placeholder="Комментарий" name="message" maxlength="4000" style="word-wrap: break-word;" class="autonewline-input"></input>
                    <label for="consent">
                        <input type="checkbox" id="consent" name="consent" required>
                        Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных.
                    </label>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </footer>
</footer>

</body>
</html>