<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="title" content="">
    <meta name="descript" content="">
    <meta name="keywards" content="">
    <title>MainPage</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon"
    href="../static/img/NataSchoolTransponent.png">
</head>
<body>

<header>
    <nav>
        <menu>
        <ul>
            <li><a href="#">Main</a></li>
            <!--li><a href="#">learning</a></li-->
            <div class="dropdown">
                <button class="dropbtn">Learning</button>
                <div class="dropdown-content">
                    <a href="#">Lessons</a>
                    <a href="#">Daily shorts</a>
                    <a href="#">Grammar practice</a>
                    <a href="#">Tests</a>
                    <a href="#">Translations</a>
                    <a href="#">Reading</a>
                    <a href="#">Listening</a>
                </div>
            </div>

            <!--li><a href="#">news</a></li-->
            <div class="dropdown">
                <button class="dropbtn">News</button>
                <div class="dropdown-content">
                    <a href="#">BBC</a>
                    <a href="#">Al-Jazeera</a>
                    <a href="#">NataSchool</a>
                </div>
            </div>

            <!--li><a href="#">contacts</a></li-->
            <div class="dropdown">
                <button class="dropbtn">Contacts</button>
                <div class="dropdown-content">
                    <a href="#">VK</a>
                    <a href="#">Telegram</a>
                    <a href="#">What's App</a>
                    <a href="#">YouTube</a>
                    <a href="#">Mail</a>
                </div>
            </div>

            <!--li><a href="#">webinars</a></li-->
            <div class="dropdown">
                <button class="dropbtn">Webinars</button>
                <div class="dropdown-content">
                    <a href="#">General State Exam</a>
                    <a href="#">Unified State Exam</a>
                    <a href="#">IELTS</a>
                    <a href="#">TOEFL</a>
                    <a href="#">PTE</a>
                    <!--https://habr.com/ru/companies/englishdom/articles/526778/-->

                </div>
            </div>

            <!--li><a href="#">competitions</a></li-->
            <div class="dropdown">
                <button class="dropbtn">Сompetitions</button>
                <div class="dropdown-content">
                    <a href="#">Duels</a>
                    <a href="#">Tournaments</a>
                </div>
            </div>
        </ul>
        </menu>
    </nav>
</header>

<main>
    <!-- Основная часть сайта -->
</main>

<footer>
    <!-- Footer -->
</footer>

</body>
</html>